:root {
    /* Text */
    --color-text: #333333;

    /* Headings */
    --color-heading: #111111;
    --color-header: #ffffff;

    /* Background */
    --color-bg: #f7f9fa;

    /* Cards */
    --color-card: #ffffff;

    /* Button hover */

    --button-hover: #ebedef;

    /* Borders */
    --color-border: #e0e0e0;

    --color-black: #000;
    --color-white: #FFF;

    /* Font */
    --font-ui: 'Inter', 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header .dropbtn,
button {
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
}

button:hover {
    background-color: var(--button-hover);
    border-color: var(--color-border);
}

input::placeholder {
    color: var(--color-text);
}

.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 12px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.flex-item {
    flex: 0 0 calc(25% - 24px);
    min-width: 200px;
}

body {
    font-family: var(--font-ui);
    background-color: var(--color-bg);
}

/* 🌙 Dark Theme */
body.dark {
    --color-text: #e0e0e0;

    --color-heading: #ffffff;
    --color-header: #1c1c1c;

    --color-bg: #121212;

    --color-card: #1e1e1e;



    /* Button hover */

    --button-hover: #1c1c1c;

    --color-border: #333333;

}

/* Header Style */

.header {
    border: 1px solid var(--color-border);
    background-color: var(--color-header);
}

.header .header-container {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.header .title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--color-heading);
}

.header .description {
    color: var(--color-text);
    font-size: 1rem;
}

.header .header-functions {
    display: flex;
    justify-content: end;
    width: 50%;
    align-items: center;
}

.header .header-functions>* {
    margin-left: 1rem;
}

.header .header-functions> :first-child {
    margin-left: 0;
}

.modal input,
.header .search-container #search {
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
}

::file-selector-button {
    border: none;
    color: var(--color-heading);
    font-size: 12px;
    margin-right: 10px;
    background-color: var(--color-bg);
}



.add-column-btn,
.modal .export-data button,
.header button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-column-btn svg,
.modal .export-data button svg,
.header button svg {
    margin-right: 0.5rem;
    color: var(--color-text);
}

div[contenteditable="true"]:focus-visible,
select:focus-visible,
input:focus-visible,
.header .search-container #search:active,
.header .search-container #search:focus-visible {
    border-color: var(--color-heading);
    outline: none;
}

div[contenteditable="true"] {
    cursor: copy;
    transition: all 0.3s ease;
}

div[contenteditable="true"]:hover {
    text-decoration: underline;
}

.header .theme-switch-container {
    position: relative;
    width: 50px;
    height: 24px;
}

.header .theme-switch-container input {
    display: none;
}

.header .theme-switch-container label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header .theme-switch-container label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: transform 0.3s;
}

.header .theme-switch-container input:checked+label {
    background-color: #FFC107;
}

.header .theme-switch-container input:checked+label::after {
    transform: translateX(26px);
}

.header .menu-toggle {
    display: none;
}

.header .menu-toggle svg {
    margin: 0;
}

/* Modals */
.modal {
    opacity: 0;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    min-height: 0;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    transition: all 0.4s ease;
}

.modal.active {
    display: block;
    opacity: 1;
    min-height: 100%;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color-header);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid var(--color-border);
    width: 60%;
    /* Could be more or less, depending on screen size */
}

.modal-content.modal-xs {
    width: 30%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
    position: relative;
}

.modal .modal-title-wrapper h2 {
    font-size: 20px;
    color: var(--color-heading);
}

.modal .modal-title-wrapper .modal-description {
    font-size: 14px;
    color: var(--color-text);
}

.modal .close {
    color: var(--color-heading);
    font-size: 24px;
    width: 24px;
    height: 24px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h3 {
    font-size: 16px;
    color: var(--color-heading);
}

.modal .modal-body p {
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.modal .modal-body>* {
    margin-bottom: 20px;
}

.modal .modal-body> :last-child {
    margin-bottom: 0;
}

.warning {
    background: #ffe6e6;
    color: #b30000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.reset-buttons {
    margin-top: 10px;
}

#confirm-reset {
    background-color: #b30000;
    border-color: #b30000;
    color: #fff;
}

#confirm-reset:hover {
    background-color: #800000;
}


.modal .modal-body label {
    color: var(--color-heading);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

/* Add Column Style */
.add-column-container {
    display: flex;
    justify-content: end;

}


.btn.add,
.add-column-btn {
    background-color: var(--color-heading);
    color: var(--color-header);
}

.btn.add:hover,
.add-column-btn:hover {
    background-color: var(--color-text);
    border-color: var(--color-bg);
}

.add-column-btn svg {
    color: var(--color-bg);
}

.columns-wrapper {
    margin-top: 50px;
}

.columns-wrapper .column {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;

}

.column-body {
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    flex: 1;
}

.column-body:has(.placeholder.show) {
    display: flex;
    align-items: center;
}

.columns-wrapper .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column h4 {
    color: var(--color-heading);
}



.dropbtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

body.dark .dropbtn:hover {
    background-color: var(--color-bg);
}


/* -------- Dropdown content -------- */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--color-header);
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 9;
    overflow: hidden;
}

.dropdown-content.active {
    display: block;
}

.header .dropdown-content button,
.dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--color-text);
    width: 100%;
    text-align: start;
}

.header .dropdown-content button {
    background: none;
    border: none;
}


.header .dropdown-content button:hover,
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.dropdown.show .dropdown-content {
    display: block;
}

.placeholder {
    display: none;
}

.placeholder.show {
    height: 100px;
    background-color: var(--color-bg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 14px;
    text-align: center;
    flex: 1;
    border: 2px dotted var(--color-border);
}

.column-footer button {
    width: 100%;
}

/* Cards */


.card-item {
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-bg);
}

.card-item .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item .card-body .card-title {
    font-weight: 700;
    color: var(--color-heading);
    margin-bottom: 10px;
}

.card-item .card-body .card-description {
    color: var(--color-text);
    margin-bottom: 10px;
    font-size: 12px;
}

.card-item .card-body .card-due-date {
    color: var(--color-text);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-item .card-header .card-priority {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
}

.card-priority[data-priority="high"] {
    background-color: rgb(246, 6, 6);
}

.card-priority[data-priority="medium"] {
    background-color: rgb(6, 26, 246);
}

.card-priority[data-priority="low"] {
    background-color: rgb(19, 226, 8);
}

#column-add-card .modal-content {
    width: 40%;
}

#column-add-card #cardDescription,
#column-add-card #cardName {
    width: 100%;
}

#column-add-card .priority-date-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

#column-add-card .priority-wrapper {
    width: 50%;
}

#column-add-card .priority-select {
    appearance: none;
    /* remove default style */

    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
}




@media (max-width: 1200px) {
    .main-container {
        max-width: 960px;

    }

    .flex-item {
        flex: 0 0 calc(33.3333% - 24px);
    }

    .header .header-functions {
        width: 70%;
    }

    .sort-dropdown .dropdown-content {
        right: unset;
    }

}

@media (max-width: 1000px) {

    html {
        font-size: 14px;
    }

    button {
        letter-spacing: 0;
    }

    .main-container {
        max-width: 900px;
    }

    .flex-item {
        flex: 0 0 calc(50% - 24px);
    }

    .header-wrapper {
        position: relative;
    }

    .header .menu-toggle {
        display: block;
    }

    .header button {
        font-size: 12px;
    }

    .header .header-functions {
        /* Hide navigation on smaller screens */
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        justify-content: start;
        align-items: start;
        margin: 0;
        background: var(--color-header);
        border: 1PX SOLID var(--color-border);
        padding: 1rem;
        z-index: 10;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .header .header-functions.active {
        max-height: 500px;
        display: block;
        opacity: 1;
    }

    .header .header-functions>* {
        margin: 0 0 1rem 0;

    }

    .header .search-container #search,
    .header .header-functions .search-container {
        width: 100%;
    }

    /* Modals */

    .modal-content.modal-xs,
    .modal-content {
        width: 80%;
    }

    .modal input {
        width: 100%;
    }

    /* Add column style */
    .add-column-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5rem;
    }

    #column-add-card .due-date-wrapper,
    #column-add-card .priority-wrapper {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .main-container {
        max-width: 100%;
    }

    @media (max-width: 1200px) {
        .main-container {
            max-width: 960px;

        }

        .flex-item {
            flex: 1 1 100%;
        }
    }

    .add-column-btn {
        border-radius: 50%;
        padding: 1rem;
    }

    .add-column-btn span {
        display: none;
    }

    .add-column-btn svg {
        margin-right: 0;
    }


}